@import url("./splide.min.css");
.header-bg {
    height: 100%;
    max-height: 736px;
}
.about {
    margin-top: 120px;
    position: relative;
}
.about::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    user-select: none;
    background-color: #e1ddd9;
}
.about__title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 55px;
    line-height: 83px;
    color: #fff;
    margin-bottom: 20px;
}
.about__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px 30px;
}
.about__box {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    max-width: 410px;
    width: 100%;
    padding: 25px 20px 30px;
}
.about__box:first-child {
    grid-row: span 2;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
.about__box:last-child {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.about__box:nth-child(4) {
    clip-path: polygon(50% 89%, 100% 90%, 100% 0, 0 0, 0 90%);
}
.about__box:first-child::before, .about__box:last-child::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 41px;
    top: 47px;
    left: -14px;
    background: #fff;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
}
.about_box_header {
    margin-bottom: 12px;
}
.about_box_title,
.about_box_title .tm {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.about_box_title .tm {
    font-size: 10px;
    vertical-align: top;
}
.about_box_desc,
.about_box_text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 20px;
}
.about_box_desc a {
    color: var(--primary);
}
.about_box_text {
    font-weight: 700;
    margin-bottom: 0;
}

.about__stats {
    padding: 100px 30px;
    background: #e1ddd9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 125px;
    text-align: center;
}
.about_stats_title {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 56px;
    line-height: 112px;
    margin-bottom: 20px;
    color: var(--black);
}
.about_stats_text {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

.about__keys {
    padding: 25px 0 18px;
    gap: 40px 20px;
}
.about_keys_title,
.about_special_title,
.special_box_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    margin-bottom: 20px;
}
.about_keys_desc {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}

.about_special_title {
    margin-bottom: 25px;
}
.special_box_title {
    margin-bottom: 15px;
}
.special__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 75px;
}
.special__box {
    padding: 22px 24px 30px;
    background: #fff;
    border-radius: 6px;
    flex: 1 1 540px;
    width: 100%;
    height: max-content;
}
.special__box:last-child {
    margin-top: -70px;
}
.special_box_text,
.special_box_desc {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}
.special_box_text a {
    color: var(--primary);
}
.special_box_desc {
    padding: 18px 14px 8px;
    background: rgba(225, 221, 217, 0.2);
    border-radius: 6px;
    margin-top: 10px;
}
.about__slider .splide__pagination {
    top: -40px;
    left: 0;
    bottom: auto;
    right: auto;
    padding: 0;
}
.about__slider .splide__pagination__page {
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 8px;
    opacity: 0.8;
}
.about__slider .splide__pagination__page[aria-selected="true"] {
    width: 30px;
    background-color: var(--primary);
    margin-left: 8px;
    margin-right: 8px;
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 1400px) {
    .about {
        margin-top: 100px;
    }
}
@media (max-width: 1200px) {
    .special__box {
        flex: 1 1 450px;
    }
    .about__slider .splide__pagination {
        top: -20px;
    }
    .about {
        margin-top: 100px;
    }
    .about__boxes {
        gap: 20px;
    }
}
@media (max-width: 992px) {
    .about__keys {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about_keys_item iframe {
        width: auto;
        height: auto;
    }
    .special__box:last-child {
        margin-top: 0;
    }
    .about__boxes {
        grid-template-columns: 1fr 1fr;
    }
    .about {
        margin-top: 70px;
    }
    .about__title {
        font-size: 48px;
    }
    .about__box:first-child {
        clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0 100%);
    }
    .about__box:nth-child(3) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
    .about__box:nth-child(4) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    .about__box:last-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
}
@media (max-width: 768px) {
    .about__boxes {
        grid-template-columns: 1fr;
    }
    .about__box {
        max-width: 100%;
    }
    .about__stats {
        padding: 50px 15px;
    }
    .about__box:first-child {
        clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0 100%);
    }
    .about__box:nth-child(2) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
    .about__box:nth-child(3) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    .about__box:nth-child(4) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
    .about__box:nth-child(5) {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}
@media (max-width: 480px) {
    .about__stats {
        gap: 20px 30px;
    }
    .about {
        margin-top: 30px;
    }
    .about_stats_title {
        font-size: 36px;
        margin-bottom: 0;
        line-height: 60px;
    }
}
@media (max-width: 425px) {
    .special__box {
        padding: 15px;
    }
    .special__boxes {
        gap: 20px;
    }
}
