.line {
    position: relative;
    background-color: #DADADA;
    height: 5px;
    border-radius: 5px;
}

.line::before {
    position: absolute;
    left: 0;
    content: '';
    width: 30%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary);
}

.line>li {
    z-index: 2;
    background-color: #DADADA;
}

.line>li:first-child {
    background-color: var(--primary);
}

.line-second>li {
    z-index: 2;
    background-color: #DADADA;
}
.line-second>li:nth-child(-n+2) {
    background-color: var(--primary);
}

.line-second {
    position: relative;
    background-color: #DADADA;
    height: 5px;
    border-radius: 5px;
}

.line-second::before {
    position: absolute;
    left: 0;
    content: '';
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary);
}