.line {
    position: relative;
    background-color: #DADADA;
    height: 5px;
    border-radius: 5px;
}

.line::before {
    position: absolute;
    left: 0;
    content: '';
    width: 70%;
    height: 5px;
    border-radius: 5px;
    background-color: #F23058;
}

.line>li {
    z-index: 2;
    background-color: #F23058;
}

.line>li:last-child {
    background-color: #DADADA;
}

.order,
.order2 {
    position: relative;
}


.print {
    position: absolute;
    top: 30px;
    right: 30px;
}