* {
    padding: 0;
}
:root {
    --primary: #f23058;
    --secondary: #eb5757;
    --tertiary: #f0f9ff;
    --blue1: #194060;
    --blue2: #607d94;
    --blue3: #c9dcec;
    --black: #292d33;
    --grey: #9497a1;
    --background: #f3f3f3;
    --red: #c14040;
}
body {
    background-color: var(--background);
}
img {
    object-fit: cover;
}
a {
    text-decoration: none;
}
.btn__square {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
p {
    margin: 0;
}
a:hover {
    color: inherit;
}
.white_to_red_btn {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f23058;
    --bs-btn-hover-border-color: #f23058;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f23058;
    --bs-btn-active-border-color: #f23058;
}
.see__all {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary);
}
.see__all:hover {
    color: #ff7575;
}
.splide__arrow {
    width: 60px !important;
    height: 60px !important;
    background: #fff !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    border-radius: 20px !important;
    opacity: 1 !important;
}
.splide__arrow svg {
    fill: var(--black) !important;
}
.between_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 576px) {
    .splide__arrow{
        width: 45px !important;
        height: 45px !important;
        border-radius: 15px !important;
    }
}
@media (max-width: 425px) {
    .splide__arrow{
        width: 36px !important;
        height: 36px !important;
        border-radius: 10px !important;
    }
}