.form-control::placeholder {
    color: #fff;
}
.header__red{
    height: 600px;
}

@media (max-width: 992px) {
    .header__red {
        min-height: 600px;
        height: 100%;
        padding-bottom: 40px;
    }
}
