.bg-blog {
    position: relative;
    background-color: #E6FFED;
    border-radius: 10px;
    color: green;
    filter: drop-shadow(0 0 0.1rem green);
}

.bg-blog::after {
    position: absolute;
    bottom: -20px;
    right: 45px;
    background-color: #E6FFED;
    content: "";
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.plus {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 15px;
    padding: 10px;
    font-size: 45px;
    font-weight: 500;
}