.hero {
    display: block;
    height: 100%;
    margin-top: 50px;
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__content {
    max-width: 540px;
}
.hero__title {
    font-family: "Manrope";
    font-size: 46px;
    font-weight: 800;
    line-height: 60px;
}
.hero__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    margin: 30px 0;
}
.hero__buttons {
    display: flex;
}
.hero__btn {
    padding: 13px 52px;
    font-family: "Manrope";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    box-shadow: none;
    margin-right: 30px;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.18);
    --bs-btn-border-width: 2px;
    --bs-btn-border-color: #fff;
    --bs-btn-color: var(--secondary);
    --bs-btn-bg: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #fff;
}
.hero__play__btn {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    --bs-btn-border-width: 2px;
}
.hero__play__btn i {
    font-size: 32px;
    margin-right: 10px;
}
.hero__play__btn:hover {
    color: #fff;
    border-color: #fff;
}

.hero__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 60px;
}
.hero__card {
    position: relative;
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    /* border: 6px solid rgba(255, 255, 255, 0.12); */
    border-radius: 6px;
    overflow-y: hidden;
}
.hero_card_content {
    padding: 0 18px 24px;
}
.hero_card_img {
    width: 100%;
    max-height: 330px;
}
.hero_card_title {
    font-family: "Manrope";
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    margin: 0;
}
.hero_card_text,
.hero_card_desc {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0;
    color: var(--grey);
}
.hero_card_desc {
    font-weight: 400;
    margin: 0;
}
.hero_card_link {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.hero_card_link:hover {
    color: var(--secondary);
}
.hero_card_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    color: var(--secondary);
}
.hero_card_btn:hover {
    color: var(--secondary);
}
