@import url("./hero.css");
@import url("./card.css");
@import url("./splide.min.css");
.home_main {
    margin-top: 500px;
}
.main_section_header {
    margin-bottom: 25px;
}
.main__title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.products__slider {
    padding: 0 30px;
    margin-bottom: 60px;
}

.features__boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 25px;
}
.features__box {
    position: relative;
    padding: 22px 22px 35px;
    max-width: 540px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}
.features__title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    margin-bottom: 25px;
    max-width: 270px;
}
.features__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}
.features__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f6f7f9;
}
.features__btn:hover {
    color: var(--primary);
}

.banner__slider {
    margin-bottom: 60px;
}
.banner__slider .splide__slide {
    background-color: #777;
    height: 240px;
}

@media (max-width: 1200px) {
    .features__box{
        max-width: 450px;
    }
}
@media (max-width: 992px) {
    .features__box{
        max-width: 330px;
    }
    .features__title{
        padding-right: 15px;
    }
}
@media (max-width: 768px) {
    .products__slider {
        padding: 0 10px;
    }
    .features__box{
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .products__slider .splide__arrow--prev {
        left: -10px;
        top: 40%;
    }
    .products__slider .splide__arrow--next {
        right: -10px;
        top: 40%;
    }
    .splide__slide .card {
        margin: 0 auto;
    }
    .hero__title {
        font-size: 36px;
    }
    .hero__text {
        margin: 20px 0;
        line-height: 24px;
    }
    .hero {
        margin-top: 30px;
    }
}
@media (max-width: 425px) {
    .home_main {
        margin-top: 1600px !important;
    }
    .hero__btn {
        padding: 10px 40px;
    }
    .hero__title {
        font-size: 32px;
        line-height: 44px;
    }
    .products__slider{
        padding: 0;
    }
    .features__title{
        font-size: 18px;
        line-height: 25px;
    }
    .hero_card_content{
        padding: 5px 15px 20px;
    }
    .features__box{
        padding: 15px 15px 20px;
    }
}
@media (max-width: 370px) {
    .home_main {
        margin-top: 1700px !important;
    }
}
