.or {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or::after {
    position: absolute;
    left: 0;
    content: "";
    width: 45%;
    height: 1px;
    background-color: white;
}

.or::before {
    position: absolute;
    right: 0;
    content: "";
    width: 45%;
    height: 1px;
    background-color: white;
}

.form-control::placeholder {
    color: white;
}
.header__red {
    min-height: 700px;
}
.header-bg{
    height: 100%;
}

.bg-blog {
    position: relative;
    background-color: #fffbe7;
    border-radius: 10px;
    color: #87744f;
    filter: drop-shadow(0 0 0.1rem #87744f);
}

.bg-blog::after {
    position: absolute;
    bottom: -20px;
    right: 45px;
    background-color: #fffbe7;
    content: "";
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.contact__input {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 25px;
    height: 54px;
}
