@import url("../main.css");
@import url("./hero.css");
@import url("./home.css");
@import url("./footer.css");

.dropdown-menu li {
    position: relative;
}
.dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu li:hover .dropdown-submenu {
    display: block;
}
.header {
    height: 100vh;
    background-image: url("../img/hero-bubbles.png"),
        linear-gradient(128.28deg, #eb5757 5.72%, #ff3566 59.46%);
    background-repeat: no-repeat;
    background-position: center top;
}
.navbar {
    box-shadow: none;
}
.navbar-brand {
    margin-right: 120px;
}
.nav__btn {
    height: 44px;
    border-radius: 6px;
    background-color: #fff;
    color: #f6335b;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.18) !important;
    font-family: "Manrope";
}
.nav__btn:hover {
    color: #f6335b;
}
.navbar-nav {
    column-gap: 32px;
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: #eee;
}
.nav-item {
    position: relative;
}
.nav-item::before {
    position: absolute;
    content: "";
    transition: .3s;
    height: 1.5px;
    background-color: #fff;
    width: 0;
    bottom: 5px;
}
.nav-item:hover::before{
    width: 100%;
}