.confirmation > .col-12 {
    padding: 80px 0;
}

.confirmation > .col-12 > .fa-solid {
    font-size: 50px;
    margin-bottom: 10px;
}
.ps__info .form-control,
.ps__info .form-select {
    height: 54px;
    padding-left: 25px;
    padding-right: 25px;
}
.ps__info .form-control::placeholder,
.ps__info .form-select {
    color: rgba(41, 45, 51, 0.5);
}
.ps__info .date__input {
    color: rgba(41, 45, 51, 0.5);
}
.ps__title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.profile_save_btn {
    width: max-content;
    display: flex;
    align-items: center;
}
.profile_form_modal .modal-content {
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.12);
    border: none;
    min-height: 250px;
    align-items: center;
    justify-content: center;
}
.profile_form_modal .modal-dialog {
    max-width: 540px;
    width: 100%;
}
.profile_form_modal .modal-body {
    flex: none;
}
.modal__icon{
    font-size: 50px;
}

@media (max-width: 576px) {
    .ps__info .form-control,
    .ps__info .form-select {
        height: 54px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
