@import url("../css/splide.min.css");
@import url("../css/card.css");

.products_content_item {
    display: flex;
    justify-content: space-between;
    gap: 15px 25px;
}
.products_content_card {
    position: relative;
    padding: 25px 15px 25px 32px;
    background-color: #fff;
    border-radius: 6px;
    max-width: 600px;
    filter: drop-shadow(0px 18px 30px rgba(0, 0, 0, 0.06));
}
.products_content_card::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 41px;
    background-color: #fff;
    top: 47px;
    left: -14px;
    border-radius: 50%;
    z-index: -1;
}
.fido_card_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fido_card_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.fido_card_text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    margin-top: -15px;
}
.fido_card_text span {
    display: block;
    max-width: calc(100% - 130px);
}
.products_content_details .alert-heading,
.products_content_details .alert p {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.products_content_details .alert p {
    font-weight: 400;
    line-height: 20px;
}
.products_content_details .alert-danger {
    font-weight: 400;
    font-family: "Open Sans";
    line-height: 24px;
    font-size: 14px;
}

.products {
    margin-bottom: 80px;
}
.products__header {
    margin-bottom: 20px;
}
.products_header_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px 30px;
}

.product_thumb_slide .splide__slide img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    border-radius: 6px;
}
.product_thumb_slide .splide__slide.is-active img {
    opacity: 1;
}
.product_main_img {
    width: 100%;
    height: auto;
}
.product_compare_btn {
    margin-right: 6px;
    --bs-btn-border-width: 2.3px;
}
.product_checkout_btn {
    display: flex;
    align-items: center;
    --bs-btn-border-width: 2.3px;
}
.product_checkout_box {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f23058;
    --bs-btn-hover-border-color: #f23058;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f23058;
    --bs-btn-active-border-color: #f23058;
}

.product__about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
}
.section__content {
    width: 48%;
}
.product_about_header {
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.product_about_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.product_details_btns {
    position: relative;
}
.product_checkout_btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f23058;
    --bs-btn-border-color: #f23058;
    padding: 0;
}
.product__price {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 0 12px;
}
.product__price span {
    font-size: 13px;
    line-height: 22px;
    vertical-align: top;
    margin-left: -6px;
}
.shipping__costs__alert {
    position: absolute;
    top: 60px;
    right: 0;
    width: 127px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 45, 51, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    padding-left: 12px;
}
.shipping__costs__alert i {
    font-size: 16px;
    margin-right: 12px;
    color: rgba(41, 45, 51, 0.6);
}
.product_details_text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    margin: 16px 0;
}

.product_table_th,
.product_table_tr {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey);
    padding: 2px !important;
}
.product_table_th {
    font-weight: 600;
}
.product_table_tr i {
    margin-right: 8px;
    color: #006811;
    font-size: 10px;
}
.product_info_alert {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.product_info_alert p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #bd5454;
    margin-left: 12px;
}
.product_info_alert i {
    color: var(--primary);
    font-size: 16px;
}
.product_alert_gray p {
    color: #808080;
}
.product_alert_gray {
    background-color: #e8e8e8;
    border-color: #d1d1d1;
}

.product__feature {
    margin-top: 30px;
}
.product_nfc_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: var(--black);
}
.product__guides {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
}
.product_guide_item {
    display: flex;
    gap: 10px;
    max-width: 250px;
}
.product_guide_item i {
    font-size: 15px;
    padding-top: 4px;
}
.guide_item_title,
.guide_item_text {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    color: var(--black);
}
.guide_item_text {
    font-weight: 400;
    color: var(--primary);
}

@media (max-width: 992px) {
    .products_content_item {
        flex-wrap: wrap;
    }
    .products_content_card {
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .products__cards {
        justify-content: center;
    }
    .products_content_header_blog {
        gap: 15px 50px;
    }
    .products_content_card {
        padding: 15px 12px;
    }
}
@media (max-width: 425px) {
    .products_content_header_blog {
        gap: 12px 30px;
    }
    .fido_card_text{
        margin-top: 10px;
    }
    .fido_card_text span{
        max-width: 100%;
    }
}
