.form-control::placeholder {
    color: #fff;
}
.register_content_text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
}

.or {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or::after {
    position: absolute;
    left: 0;
    content: "";
    width: 45%;
    height: 1px;
    background-color: #fff;
}

.or::before {
    position: absolute;
    right: 0;
    content: "";
    width: 45%;
    height: 1px;
    background-color: #fff;
}

.header-bg {
    height: 100%;
}

@media (max-width: 990px) {
    form {
        order: 2;
    }

    .offset-lg-1 {
        order: 1;
    }
}
@media (max-width: 576px) {
    .reg_btn_item {
        width: 100% !important;
    }
}

.bg-blog {
    position: relative;
    background-color: #fffbe7;
    border-radius: 10px;
    color: #87744F;
    filter: drop-shadow(0 0 0.1rem #87744F);
}