.bg-blog {
    position: relative;
    background-color: #FFFBE7;
    border-radius: 10px;
    color: #87744F;
    filter: drop-shadow(0 0 0.1rem #87744F);
}

.bg-blog::after {
    position: absolute;
    bottom: -20px;
    right: 45px;
    background-color: #FFFBE7;
    content: "";
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.green, .green::after {
    color: green;
    background-color: #E6FFED;
}

thead>tr>th {
    width: 230px;
}

thead>tr>th:first-child {
    width: 300px;
}


@media (min-width:1000px) {
    .header__red {
        min-height: 800px;
    }
}