.bg-blog {
    background-color: #fffbe7;
    border-radius: 6px;
    color: #87744f;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.green,
.green::after {
    color: green;
    background-color: #e6ffed;
}
.tools_content_title {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
}
.tools_content_text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}

.tools_table_selects th .form-select {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    height: 53px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
}
.form_select_primary {
    border-color: var(--primary);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
    min-width: 160px;
}

.tools__table {
    min-width: 900px;
}
.tools__table thead th {
    border: none;
    min-width: 200px;
    vertical-align: middle;
}
.tools__table tbody td:first-child,
.tools__table thead th:first-child {
    font-size: 14px;
    color: var(--grey);
}
.tools__table th,
.tools__table td {
    padding: 4px !important;
}
.tools__table tr .btn {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .tools__table {
        font-size: 14px;
        table-layout: fixed;
    }
    .tools__table tbody td:first-child,
    .tools__table thead th:first-child,
    .tools_table_title {
        position: sticky;
        top: 0;
        left: 0;
        background: linear-gradient(
            90deg,
            #fff 89.58%,
            rgba(249, 249, 249, 0) 100%
        );
        width: 160px;
        padding-right: 10px !important;
    }
}
@media (max-width: 575px) {
    .tools__table thead th {
        min-width: 100px;
    }
    .tools_table_selects .form-select {
        width: 120px;
    }
    .tools__table {
        min-width: 700px;
    }
}
