Current template is based on the older Bootstrap html/css. 
Therefore we would like to have the same class names as with the current html code. Such as, col-lg-4 col-md-4 col-sm-6 col-xs-7 links pull-right and so on.

Some of the contents will be retrieved from an sql database where css class names are used as well. Examples "alert alert-warning, alert-success, btn btn-lg" etc.

The code should also be compatible with the current jquery used on the website so we dont have to manually rewrite the code. 

The modal dialogs are used for adding products to the cart, showing popup info and similar. it is required to maintain this functionality and functions.

There are also some elements that need to be maintained:

1. Tabs
Example: https://www.token2.com/site/page/using-token2-hardware-tokens-for-lastpass-user-account
Under "Step 2. Provision the token", there are tabs for different platforms

2. Boxes
On the current website (example  https://www.token2.com/shop/ ) on the right side, there are boxes that are getting contents from the CMS database

3. Search
The integration guides have on page search functionality:
if you go to https://www.token2.com/site/page/integration-guides, you can search by title
but also if you visit the URL like this: https://www.token2.com/site/page/integration-guides?ig-search=Azure it will search/filter automatically when page is loaded.

4. There is a javascript library that adds a ">>" sign to the current page link
example : if visiting https://www.token2.com/site/page/authentication-modes-and-methods-in-token2-totpradius 
the link "Authentication methods" will have " class="selected" " , which differentiate it from other links.


