@import url("css/const.css");
@import url("components/nav.css");
@import url("components/subscribe.css");
@import url("components/footer.css");

a {
    color: inherit;
}

.active-link {
    padding: 7px 27px;
    background-color: white;
    color: #f23058;
    border-radius: 6px;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tabs>li {
    cursor: pointer;
}

.bg-grey {
    background-color: #f2f2f2;
}

.mt-encriment {
    position: relative;
    z-index: 1;
}

.contact__input {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 25px;
    height: 54px;
}

.contact__btn {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    height: 44px;
    padding: 10px 14px;
}

.tooltip-rel {
    position: relative;
}

.tooltip-abs::after,
.tooltip-abs2::after {
    z-index: -1;
    position: absolute;
    transform: rotate(45deg);
    right: 135px;
    bottom: -5px;
    content: "";
    width: 15px;
    height: 15px;
    background: #FFE7E7;
}

.tooltip-abs,
.tooltip-abs2 {
    z-index: 1;
    width: 450px;
    position: absolute;
    top: -80px;
    left: -300px;
    font-size: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #bd5454;
    background-color: #FFE7E7;
    filter: drop-shadow(0 0 1px #bd5454);
}

.tooltip-abs>i,
.tooltip-abs2>i {
    font-size: 22px;
}

.confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lh-lg {
    font-family: "Open Sans";
}