<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__about">
                <div class="footer__logos">
                    <img src="../img/icon/logo-white.png" alt="">
                    <img src="../img/icon/fido.png" alt="">
                </div>
                <p class="footer_about_text">
                    Token2 is a cybersecurity company specialized in the area of multifactor authentication. Founded
                    by a team of researchers and graduates from the University of Geneva with years of experience in
                    the field of strong security and multifactor authentication, Token2 has invented, designed and
                    developed various hardware and software solutions for user-friendly and secure authentication.
                    Token2 is headquartered in Geneva, Switzerland
                </p>
            </div>
            <ul class="footer__list">
                <li class="footer_list_item head__item">About</li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Home</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">About us</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Services</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Solutions</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer_list_item head__item">Information</li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Contacts</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Our team</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Blog</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">FAQ</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer_list_item head__item">Service</li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Pages</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Elements</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Site map</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">Pricing</a>
                </li>
                <li class="footer_list_item">
                    <a href="#" class="footer_list_link">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
            <div class="footer_contact_content">
                <h4 class="footer_contact_title">Contacts</h4>
                <div class="footer_contact_blog">
                    <a href="tel:+41225196202" class="footer_contact_text">
                        +41 22 519 62 02
                    </a>
                    <p class="footer_contact_text">La Voie-Creuse 3B, 1202 Geneva, SWITZERLAND</p>
                    <a href="mailto:info@token2.com" class="footer_contact_link">
                        info@token2.com
                        <i class="fa-regular fa-right-long ms-2"></i>
                    </a>
                    <a href="#" class="footer_contact_link">
                        Driving derections
                        <i class="fa-regular fa-right-long ms-2"></i>
                    </a>
                </div>
            </div>
            <div class="footer__social">
                <h4 class="footer_contact_title">Social</h4>
                <div class="socials">
                    <a href="#" class="social__media">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social__media">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="social__media">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social__media">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="#" class="social__media">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#" class="social__media">
                        <i class="fa-solid fa-envelope-open"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__terms">
            <div class="footer_terms_blog">
                <a href="#" class="footer_contact_link">
                    Privacy policy
                    <i class="fa-regular fa-right-long ms-2"></i>
                </a>
                <a href="#" class="footer_contact_link">
                    Terms of us
                    <i class="fa-regular fa-right-long ms-2"></i>
                </a>
            </div>
            <p class="footer_terms_text">
                © 2022 TOKEN2 Sàrl. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>