<nav class="navbar nav__light navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../img/icon/logo-black.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../pages/about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">FIDO2 Keys</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Classic Tokens &raquo;
                            </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" href="#">Token2 c202 TOTP hardware token</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Token2 c202 hardware token - 10 pack</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Token2 c202 hardware token - 5 pack</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Programmable Tokens</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">TOTPRadius</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Guides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="nav__actions">
            <button type="button" class="btn nav__btn btn__square me-2">
                <i class="fa-regular fa-user"></i>
            </button>
            <button type="button" class="btn nav__btn">
                <i class="fa-regular fa-cart-shopping me-1"></i> 30
            </button>
        </div>
        <!-- <button type="button" class="btn nav__btn btn__square">
        <i class="fa-regular fa-arrow-right-from-bracket"></i>
    </button> -->
    </div>
</nav>