<nav class="navbar navbar-expand-lg mb-3">
    <div class="container">
        <button class="btn nav_menu_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <i class="fa-regular fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="../img/icon/logo-white.png" alt=""></a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close btn btn-dark btn-sm" data-bs-dismiss="offcanvas"
                    aria-label="Close">
                    <i class="fa-regular fa-xmark"></i>
                </button>
                <a class="navbar-brand" href="/"><img src="../img/icon/logo-black.png" alt=""></a>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="../pages/products.html" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Products
                            <i class="fa-solid fa-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="none">
                            <li><a class="dropdown-item" href="../pages/products.html">FIDO2 Keys</a></li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" href="../pages/products.html">
                                    Classic Tokens
                                    <i class="fa-regular fa-arrow-right-long ms-3"></i>
                                </a>
                                <ul class="dropdown submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="../pages/products.html">Token2 c202 TOTP hardware
                                            token</a></li>
                                    <li><a class="dropdown-item" href="../pages/products.html">Token2 c202 hardware
                                            token - 10 pack</a></li>
                                    <li><a class="dropdown-item" href="../pages/products.html">Token2 c202 hardware
                                            token - 5 pack</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="../pages/products.html">Programmable Tokens</a></li>
                            <li><a class="dropdown-item" href="../pages/products.html">TOTPRadius</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav__actions">
            <a href="../pages/completed_orders.html" type="button" class="btn nav__btn btn__square me-2">
                <i class="fa-regular fa-user"></i>
            </a>
            <a href="#" type="button" class="btn nav__btn">
                <i class="fa-regular fa-cart-shopping me-1"></i> 30
            </a>
            <!-- <button type="button" class="btn nav__btn btn__square">
                <i class="fa-regular fa-arrow-right-from-bracket"></i>
            </button> -->
        </div>
    </div>
</nav>

<script>

    // Prevent closing from click inside dropdown
    document.querySelectorAll(".dropdown-menu").forEach(function (element) {
        element.addEventListener("click", function (e) {
            e.stopPropagation();
        });
    });
    // make it as accordion for smaller screens
    if (window.innerWidth < 992) {
        // close all inner dropdowns when parent is closed
        $('.dropdown-toggle').click(function (e) {
            e.preventDefault();
        })
        document.querySelectorAll(".navbar .dropdown").forEach(function (everydropdown) {
            everydropdown.addEventListener(
                "hidden.bs.dropdown",
                function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll(".submenu").forEach(function (
                        everysubmenu
                    ) {
                        // hide every submenu as well
                        everysubmenu.style.display = "none";
                    });
                }
            );
        });
        document.querySelectorAll(".dropdown-menu a").forEach(function (element) {
            element.addEventListener("click", function (e) {
                let nextEl = this.nextElementSibling;
                if (nextEl && nextEl.classList.contains("submenu")) {
                    // prevent opening link if link needs to open dropdown
                    e.preventDefault();
                    if (nextEl.style.display == "block") {
                        nextEl.style.display = "none";
                    } else {
                        nextEl.style.display = "block";
                    }
                }
            });
        });
    }

</script>