<section class="subscribe">
    <div class="container between_center">
        <div class="subscribe__content">
            <h3 class="subscribe__title">
                Subscribe to our newsletter
            </h3>
            <p class="subscribe__text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium.
            </p>
        </div>
        <form action="#" class="subscribe__form">
            <div class="input-group">
                <input type="email" name="email" class="form-control subscribe__input form-control-lg"
                    placeholder="Your email">
                <button class="btn btn-light subscribe__btn" type="submit">Send</button>
            </div>
        </form>
    </div>
</section>